table,tr,td,th { 
    border-collapse: collapse; 
}

table, td, th {
    border-style:solid;
    border-width:1px;
    border-color:#000;
}

table + table.join,
table + table.join tr:first-child > * {
    border-top: 0;
}

table.break {
    margin-top: 1em;
}

table {
    width: 100%;
}

table.head th {
    width:10pt;
    white-space: nowrap;
    border-right-style: none;
    text-align:left;
}

.blank {
    border-left-style: none;
}

.feedback thead,
.feedback tbody,
.feedback tr,
.feedback th,
.feedback td{
    border-style: none;
}

.feedback tbody{
    border-bottom-style: solid;
    border-width:1px;
    border-color:#000;
}


.blank.class {
    width: 4em;
}

.blank.date {
    width: 8em;
}

.blank.name {
    width: auto;
}

.snot tr {
    height: 3em;
}

.snot td {
    min-width: 3em;
}

table.main .title{
    height: 2em;
}

table.head tr {
    height: 2em;
}

.heading.images th img{
    max-width: 2em;
}

.heading.images th.group img{
    max-width: 1.5em;
}

/***************************************/

.fb,
.afb,
.afb table,
.afb thead,
.afb tbody,
.afb tr {
    display: flex;
    flex-direction: column;
}

.fb.main {
    flex-direction: row;
}

.fi,
.afb table,
.afb thead,
.afb tbody,
.afb tr,
.afb th,
.afb td {
    flex: 1 1 auto;
}

.fi.snot {
    flex: none;
}

.afb.feedback thead{
    flex: none;
}

.h.blank {
    flex: 1 0 5em;
}

/***************************************/

@page {
    size: A4 portrait;
    margin: 5mm 10mm 5mm 10mm;
}









